@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {

    --platinum: #dcdcdaff;
    --darkgreen: #4b5239;
    --green: #66704cff;
    --lightgreen: #a5ac92;
    --grey: #c7c7c6;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    font-weight: 400;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 130px;
}

body {
    background-image: linear-gradient(to top left, white, rgb(102, 112, 76, .5) 140%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.none {
    display: none;
}

.block {
    display: block;
}

/* ROLL-OUT NAV */

#circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}

#circle h1 {
    font-size: 20px;
}

#circle:hover {
    transform: scale(1.1);
    transition: 0.5s;
    outline: solid 2px var(--green);
    outline-offset: 8px;
}

#circle:not(:hover) {
    transition: 0.5s;
}

nav {
    background-color: var(--green);
    color: white;
}

header {
    color: var(--green);
}

.rollout {
    margin-bottom: 50px;
}

.rollout h1 {
    font-size: 30px;
}

/* INNHOLD */
main.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .fa-solid {
    color: var(--green);
    font-size: 30px;
    margin: 5px;
}

.search {
    background-color: white;
    border-radius: 50px;
    width: 500px;
    margin-bottom: 50px;
    padding: 5px;
    display: flex;
    gap: 15px;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* DATABEHANDLING */
.faktabox {
    border-bottom: solid 4px var(--green);
    padding: 10px 20px;
}

.hero {
    background-color: rgb(102, 112, 76, .3);
    padding: 80px 50px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.faktabox p {
    font-size: 20px;
}

.fa-play {
    cursor: pointer;
}

.fa-play:hover {
    font-size: 40px;
    margin-bottom: -5px;
    transition: 0.4s;
}

.fa-play:not(:hover) {
    transition: 0.4s;
}

.fa-key {
    margin-right: 10px;
}

article h3 {
    font-size: 30px;
}

.text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 200px;
    align-items: center;
    justify-items: center;
}

.text img {
    height: 300px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.text p:nth-of-type(2) {
    grid-column: 1/3;
}

table {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 25px 25px;
    border-collapse: collapse;
    max-width: 900px;
    overflow: hidden;
}

tr:nth-of-type(even) {
    background-color: rgb(102, 112, 76, .3);
}

td:nth-of-type(1) {
    font-size: 20px;
}

th,
td {
    padding: 20px 20px;
}

tr:nth-child(1),
tr:nth-child(2),
tr:nth-child(3) {
    border-bottom: solid 2px var(--green);
}

.fakta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.fakta h3 {
    margin-bottom: 20px;
}

.pionerer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.pionerer img {
    width: 300px;
}

.pionerer h1 {
    color: var(--darkgreen);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.pionerprofil {
    background-color: rgb(102, 112, 76, .3);
    border-radius: 25px 25px 0 0;
    height: 560px;
    padding: 20px;
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 4px var(--green);
}

.pionerprofil:nth-of-type(1),
.pionerprofil:nth-of-type(2) {
    height: 540px;
}

/* HISTORIE - TIDSLINJE */

.timeline ul {
    padding: 50px 0;
    background-color: rgb(102, 112, 76, .3);
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 4px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: var(--green);
}

.timeline time {
    display: block;
    font-size: 35px;
    margin-bottom: 5px;
    font-weight: 700;
}

.timeline ul li:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.5s;
    background-color: inherit;
    z-index: 1;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    height: 300px;
    transition: all 0.5s;
    opacity: 0;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}


.timeline ul li.in-view div:hover {
    transform: scale(1.1);
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
    transform: translateX(200px);
}

.timeline ul li:nth-child(even) div {
    left: calc(-400px - 45px + 6px);
    transform: translateX(-200px);
}

.timeline ul li.in-view:after {
    background-color: var(--lightgreen);
}

.timeline ul li.in-view div {
    transform: none;
    opacity: 1;
}

/* TIDSLINJE DIV DESIGN*/

.background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px;
    padding: 40px;
}

#oldtiden {
    background-image: url("bilder/old_paper.png");
}

#oldtiden time, #oldtiden p {
    color: rgb(68, 35, 35);
    font-family: "Bad Script", cursive;
    font-weight: 900;
    margin-bottom: 20px;
}

p.stor {
    font-size: 20px;
}

.typewriter {
    background-image: url("bilder/old_paper2.webp");
}

.typewriter p, .typewriter time, .typewriter span{
    font-family: "Special Elite", system-ui;
}

.typewriter span {
    background-color: rgb(102, 112, 76, .3);
}

.typewriter span:hover {
    background-color: var(--green);
    color: var(--platinum);
}

#kretskort {
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url("bilder/kretskort.png");
    background-size: 420px;
    color: white;
    border-radius: 25px;
}

#kretskort span {
    background-color: rgb(255, 215, 0, 0.9);
    color: black;
}

#kretskort span:hover {
    background-color: black;
    color: gold;
}

#jacquard {
    background-image: url("bilder/jacquard.jpeg");
    padding: 30px;
}

#jacquard p {
    background-color: var(--lightgreen);
    padding: 10px;
}

#jacquard time {
    color: var(--darkgreen);
}

.book {
    background-image: url("bilder/book.png");
}

.book span {
    background-color: rgb(221, 28, 28);
    color: white;
}

.book span:hover {
    background-color: rgb(131, 65, 41);
    color: white;
}

.book time {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 40px;
}

.computer {
    background-image: url("bilder/computer_screen.jpeg");
    color: white;
    padding-left: 50px;
    padding-top: 30px;
}

.computer time{
    color: #affc41;
    font-family: "VT323", monospace;
    font-size: 50px;
    margin-bottom: 0;
}

.apple {
    background-image:  linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url("bilder/apple1.png");
    color: white;
    padding-left: 50px ;
}

.apple span {
    background-color: beige;
    color: black;
}

.apple span:hover {
    background-color: black;
    color: beige;
}

.timeline div.apple {
    height: 410px;
    border-radius: 25px;
}

.apple time {
    color: beige;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 40px;
}

#pong-div {
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url("bilder/pong-background.png");
    background-position: bottom;
    color: white;
}

#pong-div span {
    color: #affc41;
    background-color: black;
}

#pong-div span:hover {
    background-color: #affc41;
    color: black;
}

div#phone {
    width: 500px;
    left: calc(-500px - 50px + 10px);
}

#phone {
    background-image: url("bilder/phone.png");
    background-size: 500px;
    color: white;
}

#phone p{
    margin-top: 10px;
}

#mac {
    background-image: url("bilder/laptop.png");
    background-size: 480px;
    color: white;
    padding: 15px;
}

#mac p {
    background-color: rgb(0, 0, 0, 0.3);
    padding: 15px;
}


/* POPUP-PROFILER */

span.profil {
    cursor: pointer;
    padding: 4px;
}

span.profil:hover {
    transition: 0.5s;
}

span.profil:not(:hover) {
    transition: 0.5s;
}

.popup-profil {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 250px 30px;
    grid-template-rows: 30px 50px 1fr 140px;
    padding: 20px;
    width: 810px;
    height: 610px;
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    top: 10vh;
    left: 22vw;
    background-color: var(--lightgreen);
}

.close-btn {
    background-color: rgb(102, 112, 76, 0.2);
    border: none;
    cursor: pointer;
    grid-column: 3/4;
    width: 30px;
    height: 30px;
}

.close-btn i {
    color: white;
    font-size: 28px;
    margin: 0;
}

.popup-profil img {
    grid-column: 2/4;
    grid-row: 3/5;
    height: 350px;
}

.popup-profil h1 {
    grid-column: 1/4;
    margin-bottom: 0;
}

.popup-profil p {
    grid-column: 1/2;
    grid-row: 3/4;
}

.popup-profil .bokser {
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    gap: 50px;
    justify-self: start;
}

.popup-profil .box {
    background-color: rgb(102, 112, 76, 0.5);
    padding: 10px;
    border-radius: 20px;
    width: 140px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#popup-turing img {
    height: 300px;
}

#popup-harvard-mark {
    background-image: url("bilder/harvard_mark_1.jpeg");
    background-size: 814px;
}

#popup-eniac {
    background-image: url("bilder/eniac.gif");
    background-size: 820px;
    background-repeat: no-repeat;
    height: 580px;
}

#popup-macintosh {
    background-image: url("bilder/mcintosh_1.jpeg");
    background-size: 820px;
    background-repeat: no-repeat;
    height: 580px;
    padding: 0;
    align-items: end;
} 

#popup-macintosh p {
    background-color: white;
    grid-column: 1/4;
    grid-row: 4/5;
    padding: 10px;
}

#popup-pascal {
    grid-template-columns: 1fr 1fr 30px;
    grid-template-rows: 30px 50px 200px 1fr;
}

#popup-pascal img {
    grid-column: 1/4;
    grid-row: 4/5;
    height: 300px;
    border: solid 4px white;
}

#popup-pascal p {
    grid-column: 1/4;
    padding: 15px;
}

#pong-link {
    text-decoration: none;
    background-color: black;
    color: #affc41;
    padding: 5px;
}

#pong-link:hover {
    color: black;
    background-color: #affc41;
    transition: 0.5s;
}

#pong-link:not(:hover) {
    transition: 0.5s;
}

footer {
    background-color: var(--green);
    color: white;
    height: 200px;
    margin-top: 50px;
    padding: 25px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {

    .container {
        max-width: 380px;
    }

    .timeline ul li div {
        width: 250px;
    }

    .timeline ul li:nth-child(even) div {
        left: calc(-250px - 45px - 6px)
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li div {
        width: calc(100vw - 90px);
    }

    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
}